# Example of the application properties of the project

spring.application.name=Janus
server.port=8080

# Database connection
spring.datasource.url=<jdbc conexion>
spring.datasource.username=<database user>
spring.datasource.password=<database user password>
spring.jpa.properties.hibernate.dialect=<database dialect>

